@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h3>Wiedergabe-Test</h3>
<!-- Ersetzen Sie die Dateinamen durch eigene Audiodateien -->
<audio id="player" controls>
    <source src="example.ogg" type="audio/ogg" />
    <source src="example.wav" type="audio/wav" />
    Ihr Browser unterstützt das Audioelement nicht.
</audio>

<h3>Video-Wiedergabe-Test</h3>
<!-- Ersetzen Sie die Dateinamen durch eigene Videodateien -->
<video id="videoPlayer" width="320" controls>
    <source src="example.mkv" type="video/x-matroska" />
    <source src="example.avi" type="video/x-msvideo" />
    Ihr Browser unterstützt das Videoelement nicht.
</video>
